<div class="main-content">
  <div class="receipt-container">
    <div class="success">
      <h1>Success!</h1>
      <h2>Your order is complete!</h2>
    </div>
    <div class="receipt">
      <p>Here is a receipt for your records.  Another copy has been sent to the email address that you provided.</p>
      <div class="r-left">
        <h2>Experience:</h2>
        <p>The Experience Name Will Go Here</p>
      </div>
      <div class="r-right">
        <h2>Price:</h2>
        <p>$XX.XX</p>
      </div>
      <div class="filler-left">
      </div>
      <div class="total">
        <h2>Total: </h2>
        <p><strong>$XX.XX</strong></p>
      </div>
    </div>
  </div>
</div>