<div class="main-content">
  <h1><%= @experience.title %></h1>
  <div class="band-pic-small">
  </div>
  <h2 class="num-price"><%= @experience.amount_available %> left</h2>
  <h2 class="num-price">Price: <%= number_to_currency(@experience.price) %></h2>
  <button class="cta">BUY NOW!</button>
  <h2>Description</h2>
  <p class="exp-blurb"><%= @experience.description %></p>
</div>

